<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="#">Movie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/category_film">category film</a>
        <a class="nav-item nav-link" href="/list_film">list film</a>
        <a class="nav-item nav-link" href="/category_list">list category</a>
      </div>
    </div>
  </div>
  </nav>
<div class="container">
  <h2><%= title %></h2>
  <form action="/save" method="post">
    <div class="form-group">
      <label for="judul_film">judul:</label>
      <input type="text" class="form-control" id="judul_film" placeholder="Enter judul" name="judul_film" required>
    </div>
    <div class="form-group">
      <label for="rating">rating:</label>
      <input type="number" class="form-control" id="rating" placeholder="Enter rating" name="rating" required>
    </div>
    <div class="form-group">
      <label for="tahun_rilis">tahun rilis</label>
      <input type="number" class="form-control" id="tahun_rilis" placeholder="Enter tahun_rilis" name="tahun_rilis" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
 
</body>
</html>